
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=EditMee
Exec=/opt/EditMee/bin/editmee
Icon=/usr/share/icons/hicolor/80x80/apps/editmee.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
